n8n/workflows/chat-context.json
{
  "name": "HyperMemory - Chatbot with Memory",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "chat"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hypermemory.io/v1/mcp/sse",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"id\": {{ $now.toMillis() }},\n  \"method\": \"tools/call\",\n  \"params\": {\n    \"name\": \"memory_recall\",\n    \"arguments\": {\n      \"query\": \"{{ $json.body.user_id }} {{ $json.body.message }}\",\n      \"max_results\": 5\n    }\n  }\n}",
        "options": {}
      },
      "id": "recall",
      "name": "Recall Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "HyperMemory API"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"user_message\": \"{{ $('Chat Webhook').item.json.body.message }}\",\n  \"user_id\": \"{{ $('Chat Webhook').item.json.body.user_id }}\",\n  \"memory_context\": {{ JSON.stringify($json.result || {}) }}\n}",
        "options": {}
      },
      "id": "combine",
      "name": "Combine Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [650, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4-turbo-preview",
        "messages": {
          "values": [
            {
              "content": "=You are a helpful assistant. Use this context from memory to personalize your response:\n\n{{ JSON.stringify($json.memory_context) }}\n\nUser message: {{ $json.user_message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "openai",
      "name": "Generate Response",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [850, 300],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"response\": \"{{ $json.message.content }}\"\n}",
        "options": {}
      },
      "id": "response",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Chat Webhook": {
      "main": [
        [
          {
            "node": "Recall Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recall Context": {
      "main": [
        [
          {
            "node": "Combine Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Data": {
      "main": [
        [
          {
            "node": "Generate Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Response": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1",
  "triggerCount": 0,
  "tags": []
}
