n8n/workflows/form-memory.json
{
  "name": "HyperMemory - Store Form Submissions",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "form-submit",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Form Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "form-submit"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"key\": \"contact_{{ $json.body.email.replace(/[^a-z0-9]/gi, '_').toLowerCase() }}\",\n  \"description\": \"Contact form submission from {{ $json.body.name || 'Unknown' }}\",\n  \"data\": {\n    \"name\": \"{{ $json.body.name }}\",\n    \"email\": \"{{ $json.body.email }}\",\n    \"message\": \"{{ $json.body.message }}\",\n    \"submitted_at\": \"{{ $now.toISO() }}\"\n  }\n}",
        "options": {}
      },
      "id": "format",
      "name": "Format Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hypermemory.io/v1/mcp/sse",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"jsonrpc\": \"2.0\",\n  \"id\": {{ $now.toMillis() }},\n  \"method\": \"tools/call\",\n  \"params\": {\n    \"name\": \"memory_store\",\n    \"arguments\": {{ JSON.stringify($json) }}\n  }\n}",
        "options": {}
      },
      "id": "store",
      "name": "Store in HyperMemory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "HyperMemory API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Thank you for your submission!\"\n}",
        "options": {}
      },
      "id": "response",
      "name": "Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Form Webhook": {
      "main": [
        [
          {
            "node": "Format Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data": {
      "main": [
        [
          {
            "node": "Store in HyperMemory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store in HyperMemory": {
      "main": [
        [
          {
            "node": "Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "1",
  "triggerCount": 0,
  "tags": []
}
